USE [master]
GO
/****** Object:  Database [FilesDB]    Script Date: 14.07.2018 20:02:53 ******/
CREATE DATABASE [FilesDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FilesDB', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\FilesDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FilesDB_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\FilesDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FilesDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FilesDB]
GO
USE [FilesDB]
GO
/****** Object:  Table [dbo].[Files]    Script Date: 14.07.2018 20:02:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Files](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateTime] [nvarchar](300) NOT NULL,
	[Name] [nvarchar](300) NOT NULL,
	[Version] [nvarchar](300) NOT NULL,
 CONSTRAINT [PK_Files] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Files] ON 

INSERT [dbo].[Files] ([Id], [DateTime], [Name], [Version]) VALUES (1, N'03.11.1994', N'TestFile.exe', N'1.1')
INSERT [dbo].[Files] ([Id], [DateTime], [Name], [Version]) VALUES (2, N'01.02.2018', N'Bulat.txt', N'4.3.2.1')
INSERT [dbo].[Files] ([Id], [DateTime], [Name], [Version]) VALUES (3, N'03.11.1994', N'TestFile.exe', N'1.0')
SET IDENTITY_INSERT [dbo].[Files] OFF
USE [master]
GO
